* {
    padding: 0;
    margin: 0;
}

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*--------------------
 ------top section start ------------ */
.top-sec {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 140px;
    margin-bottom: 130px;
    background-color: #161616;
    width: 1200px;
    height: 540px;
}

.single-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half {
    width: 50%;
    padding-left: 106px;
    color: white;
}

.half img {
    width: 100%;
    padding-top: 20px;
}

.top-sec-font {
    font-size: 70px;
}

#solid {
    background-image: linear-gradient(#DD0000, #DD0000);
    padding: 16px 25px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
}

/* top section end  */
/* main section start  */
.important {
    padding-left: 100px;
}

.fixture {
    display: flex;
}

.flag {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.flag img {
    width: 94px;
    height: 55px;
    padding-top: 50px;
    padding-left: 20px;
}

.menu {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: grid;
    grid-template-rows: repeat(3, 64px);
    grid-row-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: static;
}

#uc-match {
    margin-top: 80px;
    padding-bottom: 40px;
    background-image: linear-gradient(#DD0000, #DD0000);
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;

}

#a-group {
    margin-top: 130px;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    height: 64px;
    width: 252px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
}

#blog {
    margin-top: 170px;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
}



.menu a {
    text-decoration: none;
    font-size: 20px;
}

.common {
    height: 242px;
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.spans {
    padding-bottom: 20px;
    display: inline-block;
}

.country {
    margin-left: 15px;
    margin-bottom: 5px;
}

.time {
    margin-left: 20px;
}

/* main section end  */
/* footer start  */
footer {
    width: 1349px;
    height: 444px;
    margin-top: 130px;
    background-color: #161616;
}

footer>h3 {
    font-size: 60px;
    padding-top: 130px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

hr {
    width: 1150px;
    margin-left: 110px;
    margin-bottom: 50px;
    opacity: 30%;
}

.end-part {
    display: flex;
    justify-content: space-evenly;

}

.end-part a {
    text-decoration: none;
    color: #B9B9B9;
}

.social {
    text-align: center;
    margin-top: 50px;
}

.fa-brands {
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.fa-envelope {
    color: white;
    font-size: 30px;
    padding-right: 10px;
}